@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-outfit), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-syne), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .mask-image-gradient {
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  }
}